.contenedor {
    height: calc(100vh - 135px);
    overflow-y: auto;
    border-top: 1px solid #b4b4b4;
    border-left: 1px solid #b4b4b4;
}
.z-index-10 {
    z-index: 10;
}
.me-2em {
    margin-right: 3em;
}