.icon-american{
    color : rgb(95, 43, 0)
}
.icon-samurai{
    color : rgb(23, 60, 223)
}
.icon-robot{
    color : purple
}
.icon-robot2{
    color : rgb(255, 54, 255)
}
.icon-viking{
    color : rgb(255, 193, 7);
    border-radius: 25%;
}
.icon-spartan{
    color : rgb(0, 109, 9)
}
.icon-alien{
    color : black
}
.icon-actas{
    color : rgb(12, 255, 194)
}