<form className="row g-3 needs-validation" id="crearRegistro" novalidate>

    <div hidden>
        <input id="usuarioId" name="usuarioId" class="form-control" aria-label="RegistroId" />

    </div>

    {/* <!-- NOMBRE DE CLIENTE --> */}
    <div class="col-md-12">
        <label for="inputNombreCliente" class="form-label">CLIENTE</label>
        <input type="text" class="form-control fs-5" id="inputNombreCliente" name="inputNombreCliente" placeholder="Nombre del Conjunto, Cliente o Asociación que irá en el titulo de la cotización" required/>
        <div class="invalid-feedback">
        Escribe el nombre del cliente!
        </div>
    </div>

    {/* FECHA  */}
    <div class="col-md-3">
        <label for="inputFecha" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="inputFecha" name="inputFecha" required/>
        <div class="invalid-feedback">
        Pon la fecha del evento, o una aproximada!
        </div>
    </div>

    {/* CORREO ElECTRONICO */}
    <div class="col-md-6">
        <label for="inputCorreo" class="form-label">Correo Electronico del Cleinte</label>
        <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control" id="inputCorreo" name="inputCorreo" placeholder="cliente@ejemplo.com,correo@..." required/>
        <div class="invalid-feedback">
            Escribir correo del cliente.
        </div>
        </div>
    </div>

    {/* NUMERO TELEFONICO  */}
    <div class="col-md-3">
        <label for="inputTelefono" class="form-label">Numero Telefónico</label>
        <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-telephone-fill"></i></span>
        <input type="number" class="form-control" id="inputTelefono" name="inputNumeroTelefonico" placeholder="300123456" minlength="3" maxlength="10"/>
        <div class="invalid-feedback">
            Escribir numero telefonico del cliente.
        </div>
        </div>
    </div>

    {/* MODALIDAD */}
    <div class="col-md-3">
        <h4>Modalidad</h4>
        <div class="form-check mb-2">
        <input id="checkMVirtual" type="checkbox" name="flexCheckMVirtual" class="form-check-input"/>
        <label>Virtual</label>
        </div>
        <div class="form-check mb-2">
        <input id="checkMPresencial" type="checkbox" name="flexCheckMPresencial" class="form-check-input"/>
        <label>Presencial</label>
        </div>
        <div class="form-check mb-2">
        <input id="checkMMixta" type="checkbox" name="flexCheckMMixta" class="form-check-input"/>
        <label>Mixta</label>
        </div>
        <input type="checkbox" id="input-validarModalidad" hidden required/>
        <div class="invalid-feedback">
        Debe seleccionar al menos 1 Modalidad.
        </div>
    </div>

    {/* PREDIOS Y VALOR */}
    <div class="col-md-6">
        <div class=" mb-3">
        <label for="inputPredios" class="form-label">Predios</label>
        <input type="number" class="form-control" id="inputPredios" name="inputPredios" placeholder="Ej: 100" required/>
        <div class="invalid-feedback">
            Digita numero de predios.
        </div>
        </div>
        <div>
        <label for="inputValor" class="form-label">Valor</label>
        <input type="text" class="form-control fs-4 text-end" id="inputValor" name="inputValor" placeholder="Normalmente automatico" required/>
        <div class="invalid-feedback">
            Digitar valor, Normalmente es automatico.
        </div>
        </div>
    </div>

    {/* DESCUENTO E INCREMENTO */}
    <div class="col-md-3">
        <div class="mb-3">
        <label for="input-descuento" class="form-label">Descuento</label>
        <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend">
            <i class="bi bi-pencil-square" role="button" id="button-edit-DescuentoForm"></i>
            </span>
            <input type="number" class="form-control" id="input-descuento" name="inputDescuento" placeholder="Ej: 10" disabled required/>
        </div>
        </div>
        <div>
        <label for="input-incremento" class="form-label">Incremento</label>
        <div class="input-group">
            <span class="input-group-text">
            <i class="bi bi-pencil-square" role="button" id="button-edit-IncrementoForm"></i>
            </span>
            <input type="number" class="form-control" id="input-incremento" name="inputIncremento" placeholder="Ej: 10" disabled required/>
        </div>            
        </div>
    </div>

    {/* VALORES ADICIONALES */}
    <div class="col-md-4 mb-3">
        <div class="accordion">
        <div class="accordion-item border-top-0 border-start-0 border-end-0">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Valores Adicionales
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <label class="form-label">Valor de acompañamiento <strong>Virtual</strong></label>
                <input class="form-control text-end" type="number" value="500.000" name="inputValorAcoVirtual" required/>
                <label class="form-label" value="0">Valor adicional de transportes o viaticos <strong>Presencial</strong></label>
                <input class="form-control text-end" type="number" value="0" name="inputValorAcoPresencial" required/>
                <label class="form-label"> Valor de acompañamiento <strong>Mixta</strong></label>
                <input class="form-control text-end" type="number" value="800.000" name="inputValorAcoMixta"/>

            </div>
            </div>
        </div>
        </div> 
    </div>


    {/* Servicios Adicionales */}
    
    <div class="col-md-8 mb-3">
        <div class="accordion">
        <div class="accordion-item border-top-0 border-start-0 border-end-0">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Servicios Adicionales
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row g-3">

                <div class="col-md-4 border-end">
                    <div class="input-group">
                    <input class="form-control" type="text" value="Acta" disabled/>
                    <span class="input-group-text">
                        <input type="checkbox" class="form-check-input mt-0" name="inputSerActa" onclick="tacharTexto(this)" checked/>
                    </span>
                    </div>
                </div>

                <div class="col-md-4 border-end border-start">
                    <div class="input-group mb-2">
                    <input class="form-control" value="Sonido" disabled/>
                    <span class="input-group-text">
                        <i class="bi bi-pencil-square me-2" role="button" onclick="esconderOMostrarContenedor(this)"></i>
                        <input type="checkbox" class="form-check-input mt-0" name="inputSerSonido" onclick="esconderOMostrarBotonEditar(this)" checked/>
                    </span>                        
                    </div>
                    <div name="contenedor-sonido" class="esconder-mostrar-contenedor" hidden>
                    <div class="row mb-1">
                        <div class="input-group">
                        <span class="input-group-text">
                            Cabinas
                        </span>
                        <input class="form-control" type="number" value="2" name="inputSerCabinas"/>
                        <button class="btn btn-outline-secondary restar-1" onclick="restar1(this)" type="button">
                            <i class="bi bi-dash-circle-fill"></i>
                        </button>
                        <button class="btn btn-outline-secondary sumar-1" onclick="sumar1(this)" type="button">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                        </div>                          
                    </div>
                    <div class="row mb-1">
                        <div class="input-group">
                        <span class="input-group-text">
                            Microfonos
                        </span>
                        <input class="form-control" type="number" value="4" name="inputSerMicrofonos"/>
                        <button class="btn btn-outline-secondary restar-1" onclick="restar1(this)" type="button">
                            <i class="bi bi-dash-circle-fill"></i>
                        </button>
                        <button class="btn btn-outline-secondary sumar-1" onclick="sumar1(this)" type="button">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="input-group">
                        <span class="input-group-text">
                            Patinadores
                        </span>
                        <input class="form-control" type="number" value="2" name="inputSerPatinadores1"/>
                        <button class="btn btn-outline-secondary restar-1" onclick="restar1(this)" type="button">
                            <i class="bi bi-dash-circle-fill"></i>
                        </button>
                        <button class="btn btn-outline-secondary sumar-1" onclick="sumar1(this)" type="button">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                        </div>
                    </div>

                    </div>
                </div>

                <div class="col-md-4 border-end border-start">
                    <div class="input-group mb-2">
                    <input class="form-control" value="Votación" disabled/>
                    <span class="input-group-text">
                        <i class="bi bi-pencil-square me-2" role="button" onclick="esconderOMostrarContenedor(this)"></i>
                        <input type="checkbox" class="form-check-input mt-0" onclick="esconderOMostrarBotonEditar(this)" name="inputSerVotacion" checked/>
                    </span>
                    </div>
                    <div name="contenedor-votacion" class="esconder-mostrar-contenedor" hidden>
                    <div class="row mb-1">
                        <div class="input-group">
                        <span class="input-group-text">
                            Patinadores
                        </span>
                        <input class="form-control" type="number" value="2" name="inputSerPatinadores2"/>
                        <button class="btn btn-outline-secondary restar-1" onclick="restar1(this)" type="button">
                            <i class="bi bi-dash-circle-fill"></i>
                        </button>
                        <button class="btn btn-outline-secondary sumar-1" onclick="sumar1(this)" type="button">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4 border-end">
                    <div class="input-group">
                    <input class="form-control" value="Filmación" disabled/>
                    <span class="input-group-text">
                        <input type="checkbox" class="form-check-input mt-0" onclick="tacharTexto(this)" name="inputSerFilmacion" checked/>
                    </span>
                    </div>                      
                </div>

                <div class="col-md-4 border-end border-start">
                    <div class="input-group mb-2">
                    <input class="form-control" value="Video Beam" disabled/>
                    <span class="input-group-text">
                        <i class="bi bi-pencil-square me-2" role="button" onclick="esconderOMostrarContenedor(this)"></i>
                        <input type="checkbox" class="form-check-input mt-0" onclick="esconderOMostrarBotonEditar(this)" name="inputSerVideoBeam1" checked/>
                    </span>
                    </div>
                    <div name="contenedor-videoBeam" class="esconder-mostrar-contenedor" hidden>
                    <div class="row mb-1">
                        <div class="input-group">
                        <span class="input-group-text">
                            Video Beam
                        </span>
                        <input class="form-control" type="number" value="1" name="inputSerVideoBeam2"/>
                        <button class="btn btn-outline-secondary restar-1" onclick="restar1(this)" type="button">
                            <i class="bi bi-dash-circle-fill"></i>
                        </button>
                        <button class="btn btn-outline-secondary sumar-1" onclick="sumar1(this)" type="button">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="input-group">
                        <span class="input-group-text">
                            Telón
                        </span>
                        <input class="form-control" type="number" value="1" name="inputSerTelon"/>
                        <button class="btn btn-outline-secondary restar-1" onclick="restar1(this)" type="button">
                            <i class="bi bi-dash-circle-fill"></i>
                        </button>
                        <button class="btn btn-outline-secondary sumar-1" onclick="sumar1(this)" type="button">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                        </div>
                    </div>
                    </div>                      
                </div>

                <div class="col-md-4 border-end border-start">
                    <div class="input-group mb-2">
                    <input class="form-control" style="text-decoration : line-through" value="Circuito Cerrado" disabled/>
                    <span class="input-group-text">
                        <i class="bi bi-pencil-square me-2" role="button" onclick="esconderOMostrarContenedor(this)" hidden></i>
                        <input type="checkbox" class="form-check-input mt-0" onclick="esconderOMostrarBotonEditar(this)" name="inputSerCircuitoCerrado"/>
                    </span>
                    </div>
                    <div name="contenedor-circuitoCerrado" class="esconder-mostrar-contenedor" hidden>
                    <div class="row mb-1">
                        <div class="input-group">
                        <span class="input-group-text">
                            Salones
                        </span>
                        <input class="form-control" type="number" value="2" name="inputSerSalones"/>
                        <button class="btn btn-outline-secondary restar-1" onclick="restar1(this)" type="button">
                            <i class="bi bi-dash-circle-fill"></i>
                        </button>
                        <button class="btn btn-outline-secondary sumar-1" onclick="sumar1(this)" type="button">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                        </div>
                    </div>
                    </div>
                                        
                </div>

                </div>

            </div>
            </div>
        </div>
        </div> 
    </div>
    


    
    {/* <div class="col-12">
        <button class="btn btn-primary" type="button" onclick="validarFormulario()">Enviar</button>
    </div> */}

    
    </form>
