.pixel-bg {
    background-color: #852272; 
}

.log {
    font-size: 20px;
    /* color : #f9cc1a; */
    color : #fff;
}
/* .color-1{
    color : #fff;
}

.color-2{
    color : #ED3237;        
}

.color-3{
    color : #FFF212;            
} */
