.table-wrapper {
    max-height: calc(100vh - 145px); /* Altura máxima de la tabla */
    overflow-y: auto; /* Habilita el scroll vertical */
    border: 1px solid #ccc; /* Borde de la tabla */
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
thead th {
    position: sticky; /* Hace que el thead sea fijo */
    top: 0; /* Fija la parte superior */
    background-color: #f1f1f1; /* Fondo del thead */
    z-index: 10; /* Asegura que el thead esté por encima */
}
.pointer {
    cursor : pointer
}
.icon-check {
    color : #72de2c
}

.icon-check:hover{
    color : #4ba013  ;
}

.icon-check:active {
    color : grey
}

.icon-msg{
    color : rgb(79, 230, 41)
}
.icon-msg:hover{
    color : rgb(54, 163, 27)
}

.icon-del{
    color : rgb(247, 31, 31)
}
.icon-del:hover{
    color : rgb(179, 17, 17)
}

.icon-edit {
    color : rgb(0, 162, 255)
}
.icon-edit:hover {
    color : rgb(21, 94, 136)
}

/* iconos de pdf y docs */
.pdf-icon{
    color : #ad0b00
}
.pdf-icon:hover{
    color : #7c7c7c
}
.g-docs-icon {
    color :#4B88EC
}
.g-docs-icon:hover {
    color : #7c7c7c
}

.icon-casher {
    color : #c64bec
}
.icon-casher:hover {
    color : #8b34a5
}

.check-payment {
    width: 18px;
    color: #c64bec ;
}

.success {
    background-color: #079907;
}

.icon-disabled{
    color : #7c7c7c ;
    cursor: not-allowed;
}